#genres
{
    position: absolute;
    left: 0;
    right: 80%;
    top: 0;
    bottom: 0;
    text-align: center;
    font-size: 1.9em;
    opacity: 0;
    transform: translateX(-100%);
    animation: 1s ease-out 1.98s 1 slideInFromLeft;
    animation-fill-mode: forwards;
    background-color: rgba(0, 0, 0, 0.8);
}

.outer {
    margin: auto;
    top: 50%;
    position: relative;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.genre-title
{
    display: block;
    margin: 20px 0px 20px 0px;
    transition: font-size .2s ease;
}
.genre-title:hover
{
    font-size: 1.2em;
}
.view-more
{
    font-size: 25px;
}