#genres
{
    position: absolute;
    left: 0;
    right: 80%;
    top: 0;
    bottom: 0;
    text-align: center;
    font-size: 1.9em;
    opacity: 0;
    transform: translateX(-100%);
    animation: 1s ease-out 1.98s 1 slideInFromLeft;
    animation-fill-mode: forwards;
    background-color: rgba(0, 0, 0, 0.8);
}
.outer
{
    margin: auto;
    top: 50%;
    position: relative;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.genre-title
{
    display: block;
    margin: 20px 0px 20px 0px;
    transition: font-size .2s ease;
}
.genre-title:hover
{
    font-size: 1.2em;
}
.view-more
{
    font-size: 25px;
}

@media only screen and (max-width: 800px)
{
    #genres
    {
        position: relative;
        left: auto;
        right: auto;
        top: auto;
        bottom: auto;
        text-align: center;
        font-size: 1em;
        margin: 5px 0px;
        padding-top: 10px;
        opacity: 1;
        transform: none;
        animation: none;
        animation-fill-mode: none;
        background-color: initial;
        border: 1px solid black;
    }
    .outer
    {
        margin: auto;
        top: auto;
        position: relative;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }
    .genre-title
    {
        display: inline-block;
        margin: 5px 5px;
        padding: 5px;
        /*border: 1px solid black;*/
    }
}