#book-sales
{
    position: relative;
    /*margin-top: 5px;*/
    /*margin-left: 10px;*/
    /*margin-right: 10px;*/
    text-align: center;
    background-image: url("#{resource['images/b2.jpeg']}");
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.9);
    opacity: 0;
    transform: translateY(100%);
    animation: 1s ease-out 2.2s 1 slideInFromBottom;
    animation-fill-mode: forwards;
}
#book-sales a:hover
{
    opacity: 1;
}
#book-sales .prev,
#book-sales .next,
.recommendations .prev,
.recommendations .next,
#rss-feed .prev,
#rss-feed .next
{
    padding-left: 6px;
    padding-right: 8px;
}
#book-sales .book,
.recommendations .book
{
    display: none;
}
@media only screen and (max-width: 800px)
{
    #book-sales
    {
        position: relative;
    /*     height: auto; */
        left: auto;
        right: auto;
        top: auto;
        bottom: auto;
        margin: 5px 0px;
        padding-top: 10px;
        font-size: 0;
        letter-spacing: 0px;
        text-align: center;
        background-color: transparent;
        opacity: 1;
        transform: none;
        animation: none;
        animation-fill-mode: none;
        border: 1px solid black;
    }
}