#rss-feed
{
    position: absolute;
    left: 58%;
    right: 0;
    top: 31%;
    bottom: 31%;
    margin: 10px 0;
    padding: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transform: translateX(100%);
    animation: 1s ease-out 2.2s 1 slideInFromRight;
    animation-fill-mode: forwards;
}