#rss-feed
{
    position: relative;
    margin-top: 50px;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.9);
    /*opacity: 0;*/
    /*transform: translateX(100%);*/
    /*animation: 1s ease-out 2.2s 1 slideInFromRight;*/
    /*animation-fill-mode: forwards;*/
    font-weight: bolder;
}
#rss-feed.mobile
{
    display: none;
}
#rss-feed .article
{
    width: 33.3%;
    padding: 0 10px;
    vertical-align: middle;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
}
#rss-feed a
{
    filter: drop-shadow(0 0 10px black);
}

@media only screen and (max-width: 800px)
{
    #rss-feed
    {
        position: relative;
        left: auto;
        right: auto;
        top: auto;
        bottom: auto;
        margin: 10px 0;
        padding: 10px 20px;
        text-align: center;
        background-color: transparent;
        opacity: 1;
        transform: none;
        animation: none;
        animation-fill-mode: none;
        border: 1px solid black;
    }
    #rss-feed.desktop
    {
        display: none;
    }
    #rss-feed.mobile
    {
        display: block;
    }
    #rss-feed.mobile .article
    {
        display: none;
    }
}