#survey
{
    width: 46%;
    position: relative;
    text-align: center;
    padding: 10px;
    margin: 50px 2%;
    opacity: 0;
    transform: translateX(100%);
    animation: 1s ease-out 2.3s 1 slideInFromRight;
    animation-fill-mode: forwards;
    float: left;
}
#survey .section-title
{
    font-size: 2.3em;
    font-weight: bolder;
}
.surveyChoices
{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 35px;
}
#surveyForm input[type="submit"]
{
    font-size: 1.4em;
}
.surveyChoices td label
{
    font-size: 1.5em;
    font-weight: 600;
    background-color: black;
    display: block;
    margin: 0 5px;
    color: white;
    border-radius: 15px 15px;
    padding: 5px;
}

@media only screen and (max-width: 800px)
{
    #survey
    {
        position: relative;
        left: auto;
        right: auto;
        top: auto;
        bottom: auto;
        margin: 5px 0px;
        padding: 10px 0px;
        text-align: center;
        background-color: transparent;
        opacity: 1;
        transform: none;
        animation: none;
        animation-fill-mode: none;
        border: 1px solid black;
    }
}