.login
{
    margin-top: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: 1s ease-out 1.5s 1 fadeIn;
    animation-fill-mode: forwards;
}
.login .container
{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 40px;
    border-radius: 10px;
}

.login input
{
    display: block;
    font-size: 1.3em;
    color: #F2BFA0;
    padding: 10px;
    margin: 10px;
    background-color: transparent;
    border: 1px solid #F2BFA0;
    border-radius: 5px;
}
.login .label
{
    font-size: 1.5em;
    margin: 5px;
    color: #F2BFA0;
}
.login input[type=submit]
{
    transition: color .6s ease, background-color .6s ease;
    margin: 20px auto;
}
.login input[type=submit]:hover
{
    cursor: pointer;
    color: black;
    background-color: #F2BFA0;
}