.navbar {
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    text-align: center;
    line-height: 70px;
    color: #F2BFA0;
    font-size: 1.5em;
    background-color: rgba(0,0,0,0.95);
    box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.9);
/*    opacity: 0;
    animation: 1s ease-out 2s 1 fadeIn;
    animation-fill-mode: forwards;*/
}
.navbar a
{
    color: #F2BFA0;
}
.navbar .logo
{
    min-width: 150px;
    position: absolute;
    top: 0;
    left: 0;
    right: 90%;
    bottom: 0;
    background-image: url("#{resource['images/logo.png']}");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    transition: opacity 1s ease;
/*     border: 3px solid yellow; */
}
.navbar .logo:hover
{
    cursor: pointer;
    opacity: 0.4;
}
.navbar .right
{
    position: absolute;
    top: 0;
    left: 10%;
    right: 0;
    bottom: 0;
    padding-right: 10px;
    text-align: right;
/*     border: 3px solid red; */
}
.navbar-login
{
    height: 100%;
    vertical-align: top;
    display: inline-block;
    margin-left: 10px;
    padding-left: 5px;
    border-left: 1px solid #F2BFA0;
/*     border: 1px solid blue; */
}
.navbar-icon
{
    height: 100%;
    display: inline-block;
    padding: 20px 0px;
    opacity: 1;
    margin-left: 5px;
    transition: opacity .4s ease;
/*     border: 1px solid yellow; */
}
.navbar-icon:hover
{
    cursor: pointer;
    opacity: 0.4;
}
.search-icon-container
{
    height: 100%;
    display: inline-block;
}
.search-input
{
    display: none;
    width: 0px;
    height: 40px;
    margin: 15px 5px;
    vertical-align: top;
    padding-left: 5px;
    background-color: transparent;
    color: #F2BFA0;
    border: none;
    border-bottom: 1px solid #F2BFA0;
}
.search-icon-container
{
/*     background-color: yellow; */
}
.search-dropdown
{
    display: none;
    opacity: 0;
    width: auto;
    height: 30px;
    padding: 5px;
    margin-top: 25px;
    text-align: center;
    vertical-align: top;
    color: #F2BFA0;
    background-color: transparent;
    border: 1px solid #F2BFA0;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
}
.search-dropdown:hover
{
    background-color: #F2BFA0;
    color: black;
}
.search-dropdown option
{
    color: white;
    background-color: black;
}
#navbar-menu
{
    display: none;
}

@media only screen and (max-width: 800px)
{
    .navbar .right
    {
        display: none;
    }
    #navbar-menu
    {
        display: none;
        width: 100%;
        height: auto;
        position: absolute;
        top: 70px;
        z-index: 99;
        text-align: center;
        overflow-y: hidden;
        background-color: rgba(0,0,0,0.95);
        box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.9);
    }
    #navbar-menu a
    {
        display: block;
        margin: 10px 0px;
        color: #F2BFA0;
    }
    #hamburger-icon
    {
        cursor: pointer;
        display: inline-block;
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
    }
    #hamburger-icon .bar1,
    #hamburger-icon .bar2,
    #hamburger-icon .bar3
    {
        width: 30px;
        height: 1px;
        margin: 9px 0px;
        background-color: #F2BFA0;
        transition: 0.4s ease;
    }
    #hamburger-icon.opened .bar1
    {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }
    #hamburger-icon.opened .bar2
    {
        opacity: 0;
    }
    #hamburger-icon.opened .bar3
    {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }
}