.reviews .container
{
    /*text-align: center;*/
    /*background-color: rgba(0, 0, 0, 0.8);*/
    padding: 40px;
    border-radius: 10px;
}
.reviews-table
{
    border-collapse: collapse;
    border: 1px solid black;
}
.reviews-table, th, td {
    border: 1px solid black;
}