.booktitle{
    word-wrap: break-word;
}
.caption {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.reviewinput{
    resize: none;
}
.reviewsubmit{
    padding-top: 5%;
    padding-bottom: 5%;
}