*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html, body
{
    width: 100%;
    height: 100%;
}

.banner1
{
    height: 50%;
    width: 20%;
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0;
    border: 3px solid black;
}
.banner2
{
    height: 50%;
    position: absolute;
    top: 0;
    left: 80%;
    right: 0;
    border: 3px solid blue;
}
#genres
{
    height: 25%;
    position: absolute;
    left: 20%;
    right: 20%;
    top: 0;
    font-size: 0;
    text-align: center;
    border: 3px solid green;
}
.recent-books
{
    width: 20%;
    position: absolute;
    left: 0;
    top: 50%;
    right: 20%;
    bottom: 0;
    border: 3px solid yellow;
}
.book-sales
{
    height: 25%;
    position: absolute;
    left: 20%;
    right: 20%;
    top: 25%;
    border: 3px solid aqua;
}
.news
{
    position: absolute;
    left: 20%;
    right: 20%;
    top: 75%;
    bottom: 0;
    border: 3px solid orange;
}
.survey
{
    position: absolute;
    left: 80%;
    right: 0;
    top: 50%;
    bottom: 0;
    border: 3px solid darkmagenta;
}
.search
{
    height: 25%;
    position: absolute;
    top: 50%;
    left: 20%;
    right: 20%;
    border: 3px solid fuchsia;
}
.top-section
{
    height: 1000px;
    position: relative;
    border: 3px solid white;
}


@media only screen and (max-width: 800px)
{
    .banner1
    {
        width: 100%;
        height: 100px;
        position: relative;
        left: 0;
        right: auto;
        top: auto;
        bottom: auto;
        border: 3px solid blue;
    }
    .banner2
    {
        width: 100%;
        height: 100px;
        position: relative;
        left: 0;
        right: auto;
        top: auto;
        bottom: auto;
        border: 3px solid black;
    }
    #genres
    {
        width: 100%;
        height: 200px;
        position: relative;
        left: 0;
        right: auto;
        top: auto;
        bottom: auto;
        border: 3px solid green;
    }
    .recent-books
    {
        width: 100%;
        height: 180px;
        position: relative;
        left: 0;
        right: auto;
        top: auto;
        bottom: auto;
        border: 3px solid yellow;
    }
    .book-sales
    {
        width: 100%;
        height: 180px;
        position: relative;
        left: 0;
        right: auto;
        top: auto;
        bottom: auto;
        border: 3px solid aqua;
    }
    .news
    {
        width: 100%;
        height: 150px;
        position: relative;
        left: 0;
        right: auto;
        top: auto;
        bottom: auto;
        border: 3px solid orange;
    }
    .survey
    {
        width: 100%;
        height: 100px;
        position: relative;
        left: 0;
        right: auto;
        top: auto;
        bottom: auto;
        border: 3px solid darkmagenta;
    }
    .search
    {
        width: 100%;
        height: 200px;
        position: relative;
        left: 0;
        right: auto;
        top: auto;
        bottom: auto;
        border: 3px solid fuchsia;
    }
    .top-section
    {
        height: 1000px;
        position: relative;
        border: 3px solid white;
    }
}

.outer
{
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}
.middle
{
    display: table-cell;
    vertical-align: middle;
}
.genre-btn
{
    position: relative;
    min-width: 70px;
    min-height: 70px;
    width: 20%;
    padding-top: 20%;
    vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    /*border: 3px solid red;*/
}
.genre-icon
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("#{resource['images/genre_tmp.png']}");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: scale(1);
    -o-transition: background-image .6s ease, transform .2s ease;
    -ms-transition: background-image .6s ease, transform .2s ease;
    -webkit-transition: background-image .6s ease, transform .2s ease;
    -moz-transition: background-image .6s ease, transform .2s ease;
    transition: background-image .6s ease, transform .2s ease;
    /*border: 1px solid blue;*/
}
.genre-icon:hover
{
    transform: scale(1.1);
    cursor: pointer;
    background-image: url("#{resource['images/genre_tmp_hover.png']}");
}
.genre-title
{
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    font-size: initial;
    /*border: 3px solid yellow;*/
}