
@import url('https://fonts.googleapis.com/css?family=Roboto:100');

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html, body
{
    width: 100%;
    height: 100%;
    color: black;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}

hr
{
    border: 0;
    height: 1px;
    color: black;
    background-color: #F2BFA0;
}
a
{
    text-decoration: none;
    color: black;
    opacity: 1;
    transition: opacity .4s ease;
}
a:hover
{
    opacity: 0.4;
}

.top-section
{
    height: 100%;
    position: relative;
/*     border: 3px solid yellow; */
}
.section-title
{
    font-size: initial;
}
.center-vertical
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}
.center-horizontal
{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
}